<h1>Lista de productos</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Caracteristicas</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance, 'sinStock': product.stock == 0}">
            <td><img [src]="product.image" [alt]="product.name"> </td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.characteristic}}</td>
            <td>{{product.price | currency}}</td>
            <td *ngIf="product.stock != 0">Stock disponible</td>
            <td *ngIf="product.stock == 0">SIN STOCK</td>
        </tr>
        
        
    </tbody>
</table>