<h1>Lista de productos</h1>
<table class="table table-dark  table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Caracteristicas</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <td><img [src]="product.image" [alt]="product.name"> </td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.characteristic}}</td>
            <td>${{product.price}}</td>
            <td>{{product.stock}}</td>
        </tr>
        <tr class="table-active">
            <td><img [src]="product2.image" [alt]="product2.name"> </td>
            <td>{{product2.name}}</td>
            <td>{{product2.type}}</td>
            <td>{{product2.characteristic}}</td>
            <td>${{product2.price}}</td>
            <td>{{product2.stock}}</td>
        </tr>
        <tr  class="table-active">
            <td><img [src]="product3.image" [alt]="product3.name"> </td>
            <td>{{product3.name}}</td>
            <td>{{product3.type}}</td>
            <td>{{product3.characteristic}}</td>
            <td>${{product3.price}}</td>
            <td>{{product3.stock}}</td>
        </tr>
        <tr  class="table-active">
            <td><img [src]="product4.image" [alt]="product4.name"> </td>
            <td>{{product4.name}}</td>
            <td>{{product4.type}}</td>
            <td>{{product4.characteristic}}</td>
            <td>${{product4.price}}</td>
            <td>{{product4.stock}}</td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td>Vino</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  class="table-active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>