<h1>Lista de productos</h1>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Caracteristicas</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compras</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance, 'sinStock': product.stock == 0}">
            <td><img [src]="product.image" [alt]="product.name"> </td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.characteristic}}</td>
            <td>{{product.price | currency}}</td>
            <td *ngIf="product.stock != 0">Stock disponible</td>
            <td *ngIf="product.stock == 0">SIN STOCK</td>
            <td>
                <app-input-number [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock != 0" ></app-input-number>
                <button *ngIf="product.stock != 0" class="btn-comprar" (click)="addToCart(product)">Comprar</button>
            </td>
            
        </tr>
        
        
    </tbody>
</table>