<h1>CONTACTO</h1>
    <h2>Escribinos ante cualquier consulta que tengas, responderemos a la brevedad.</h2>
    <div class="formulariocontacto">
        <form id="form_contacto">
            <div>
                <label for="nombre">Nombre y apellido:</label>
                <input type="text" name="nombre" id="nombre"/>
            </div>
            <div>
                <label for="email" >E-Mail:</label>
                <input type="text" name="email" id="email" />
            </div>
            <div class="containermensaje">
                <textarea placeholder="Mensaje"></textarea>
            </div>
            <div>
                <label for="input-captcha">Escribir el resultado de 6+4</label>
                <input id="input-captcha" type="number">
                <button id="btn-enviar">Enviar</button>
                <p id="resultadocaptcha"></p>
            </div>
        </form>
    </div>
