/* You can add global styles to this file, and also import other style files */
footer{
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(22, 20, 20);
    color: white;
}
body, button{
    font-family: 'Staatliches', cursiva;
}

h1, h2, h3, p, footer li, .copyright, td{
    text-align: center;
}

h1 {
    font-size: 250%;
    color: #685866;
}

h2{
    font-size: 180%;
}

p, li{
    font-size: 80%;
}

a {
    text-decoration: none;
    color: black;
}

form input{
    height: 20px;
    max-width: 600px;
}
