<h1>SUCURSALES</h1>
    <section class="containersucursales">
        <div class="sucursales">
            <img src="../../assets/images/SucursalCordoba.jpg" alt="Sucursal Córdoba">
            <h3>Sucursal Córdoba, Argentina</h3>
            <p>Direccion: Av. Rivadavia 4995 Local 28.
                Córdoba Capital, C1424CEE.
                Telefono: +541153538040.
                E-mail: cordoba@vinotecabohemian.com.ar</p>
        </div>

        <div class="sucursales">
            <img src="../../assets/images/SucursalBarcelona.jpg" alt="Sucursal Barcelona">
            <h3>Sucursal Barcelona, España</h3>
            <p>Direccion: Av. Iniesta 888.
                Barcelona, C8963CEE.
                Telefono: +341153538040.
                E-mail: barcelona@vinotecabohemian.com.es</p>
        </div>

        <div class="sucursales">
            <img src="../../assets/images/SucursalRoma.jpg" alt="Sucursal Roma">
            <h3>Sucursal Roma, Italia</h3>
            <p>Direccion: Av. Totti 1010.
                Italia, C2013CEE.
                Telefono: +391153538040.
                E-mail: roma@vinotecabohemian.com.it</p>
            </div>
        </section>

    <h1>PROXIMAMENTE</h1>
    <section class="proximassucursales">
        <div class="listasucursales">
            <h3>Sucursales en:</h3>
            <ul>
                <li>China</li>
                <li>Nueva Zelanda</li>
                <li>Canada</li>
            </ul>
        </div>
        <div class="listasucursales">
            <img src="../../assets/images/Planisferio.jpg" alt="Planisferio">
        </div>
    </section>
